<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css?v=1.0}" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <title>Dashboard Sidebar Menu | Dark-Light</title>
</head>

<body>
<nav class="sidebar close">
    <header>
        <div class="image-text">
            <span class="image">
                <img th:src="@{/images/LA.png}" alt="Logo">
            </span>
            <div class="text header-text">
                <span class="name">Lapangin</span>
                <span class="proffession">Find Field</span>
            </div>
        </div>
        <i class='bx bx-chevron-right toggle'></i>
    </header>

    <div class="menu-bar">
        <div class="menu">
            <li class="search-box">
                <i class='bx bx-search icon'></i>
                <input type="text" placeholder="Search...">
            </li>
            <ul class="menu-links">
                <li class="nav-link">
                    <a th:href="@{/dashboard}">
                        <i class='bx bx-home-alt icon'></i>
                        <span class="text nav-text">Sewa Lapangan</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a th:href="@{/notifikasi_booking}">
                        <i class='bx bx-bell icon'></i>
                        <span class="text nav-text">Notifications</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-pie-chart-alt icon'></i>
                        <span class="text nav-text">History</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-heart icon'></i>
                        <span class="text nav-text">Likes</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a th:href="@{/wallet}">
                        <i class='bx bx-wallet icon'></i>
                        <span class="text nav-text">Wallets</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="bottom-content">
            <!-- Change to Logout after login -->
            <li>
                <a th:href="@{/logout}">
                    <i class='bx bx-log-out icon'></i>
                    <span class="text nav-text">Logout</span>
                </a>
            </li>
            <li class="mode">
                <div class="moon-sun">
                    <i class='bx bx-moon icon moon'></i>
                    <i class='bx bx-sun icon sun'></i>
                </div>
                <span class="mode-text text">Dark Mode</span>
                <div class="toggle-switch">
                    <span class="switch"></span>
                </div>
            </li>
        </div>
    </div>
</nav>

<section class="home">
    <section class="container2 forms">
        <!-- Login Form -->
        <div class="form login">
            <div class="form-content">
                <h1 class="head">Login</h1>
                <form th:action="@{/login}" method="post" id="login-form">
                    <div class="field input-field">
                        <input type="text" id="login-username" name="username" placeholder="Username" class="input" required />
                    </div>
                    <div class="field input-field">
                        <input type="password" id="login-password" name="password" placeholder="Password" class="password" required />
                        <i class="bx bx-hide eye-icon"></i>
                    </div>
                    <div class="form-link">
                        <a href="#" class="forgot-pass">Forgot password?</a>
                    </div>
                    <div class="field button-field">
                        <button type="submit">Login</button>
                    </div>
                </form>
                <div class="form-link">
            <span class="Account">Don't have an account?
                <a href="#" class="link signup-link">Signup</a>
            </span>
                </div>
            </div>
            <div class="line"></div>
        </div>


        <!-- Signup Form -->
        <div class="form signup">
            <div class="form-content">
                <h1 class="head">Signup</h1>
                <form th:action="@{/signup}" method="post" id="signup-form">
                    <div class="field input-field">
                        <input type="text" name="username" placeholder="Username" class="input" required>
                    </div>
                    <div class="field input-field">
                        <input type="email" name="email" placeholder="Email" class="input" required>
                    </div>
                    <div class="field input-field">
                        <input type="text" name="phone" placeholder="Phone Number" class="input" required>
                    </div>
                    <div class="field input-field">
                        <input type="password" name="password" placeholder="Create password" class="password" required>
                    </div>
                    <div class="field input-field">
                        <input type="password" name="confirm_password" placeholder="Confirm password" class="password" required>
                        <i class="bx bx-hide eye-icon"></i>
                    </div>
                    <div class="field button-field">
                        <button type="submit">Signup</button>
                    </div>
                </form>
                <div class="form-link">
                    <span>Already have an account?
                        <a href="#" class="link login-link">Login</a>
                    </span>
                </div>
            </div>
            <div class="line"></div>
        </div>
    </section>
</section>

<!-- Scripts -->
<script th:src="@{/js/darkmode.js}"></script>
<script th:src="@{/js/script.js}"></script>
<script th:src="@{/js/log.js}"></script>
</body>
</html>
